<html>

<head></head>

	<body>

		<form class="vacation-form" method="POST" action="show">
			<h2 class=form-title>Fill out the rest of the details</h2>
			<br />
			<strong>Number of Adults</strong>
			<input type="number" class="number-adults" required/>
			<br />
			<strong>Number of Children</strong>
			<input type="number" class="number-kids" value="0" required/>
			<br />
			<strong>Start Date</strong>
			<input type="date" class="start-date" required/>
			<br />
			<strong>End Date</strong>
			<input type="date" class="end-date" required/>
			<button class="form-submit">Submit</button>




		</form>

	</body>

</html>