.row {
    text-align: center;
}

#emoji {
    margin-top: 5px;
}

.header {
    display: inline-flex;
    margin-top: 5%;
}

.sub-header {
    font-size: 2.5em;
    background-color: #ef5350;
    color: white;
    border-radius: 10px;
    padding: 0 10px;
}

.e1a-3x.e1a-punch_tone2.emoji2,
.e1a-3x.e1a-muscle_tone2.emoji2 {
    transform: scale(-1, 1)
}